* {
  box-sizing: border-box;
  min-width: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --sidebar-text-color: #fafafa;
  --sidebar-color: #0284c7;
}

body {
  min-height: 100dvh;
  margin: 0;
  display: grid;
  grid-template-columns: minmax(300px, 0.5fr) 2fr;
  grid-template-rows: 0.5fr 2fr;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  margin: 0;
}

p {
  text-wrap: pretty;
}

.sidebar {
  padding: 20px;
  color: var(--sidebar-text-color);
  background-color: var(--sidebar-color);
  grid-column: 1;
  grid-row: 1 / -1;
}

.sidebar svg {
  fill: var(--sidebar-text-color);
}

h1 {
  display: flex;
  gap: 10px;
  align-items: center;

  & svg {
    min-width: 1.5em;
    width: 1.5em;
  }
}

.sidebar ul {
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  gap: 10px;
  align-items: center;

  & svg {
    width: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
}

.main-links {
  margin-bottom: 75px;
  margin-top: 50px;
}

.header {
  background-color: #f8fafc;
  position: relative;
  box-shadow: 0px 5px 10px rgba(55, 55, 55, 0.1);
  padding: 20px 50px;
  display: grid;
  gap: 20px 60px;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "search profile"
    "welcome btn-row";
}

.header .search {
  grid-area: "search";
  display: grid;
  grid-template-columns: minmax(30px, 0.05fr) minmax(100px, 0.95fr);
  align-items: center;
  gap: 10px;
  & #search-icon {
    height: 30px;
  }

  & #search-bar {
    background-color: #e5e7eb;
    border-radius: 25px;
    height: 30px;
    border: none;
  }
}

.header .profile {
  grid-area: "profile";
  display: grid;
  gap: 30px;
  grid-template-columns: minmax(30px, 0.1fr) minmax(50px, 0.15fr) minmax(
      50px,
      0.5fr
    );
  align-items: center;
  justify-items: center;
  justify-content: end;

  & > img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  & > svg {
    height: auto;
  }

  & > p {
    font-size: 1.25em;
    text-align: center;
  }
}

.header .welcome {
  grid-area: "welcome";
  display: grid;
  align-items: center;
  justify-items: left;
  grid-template-columns: minmax(75px, 0.1fr) 1fr;
  gap: 0 20px;

  & > img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
  }

  & .welcome-message h2,
  .welcome-message p {
    margin: 0;
    padding: 0;
  }

  & .welcome-message p {
    font-weight: bold;
    font-size: 1.1em;
  }
}

.header .btn-row {
  grid-area: "btn-row";
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 30px;
  grid-template-columns: repeat(3, minmax(50px, 1fr));
  justify-content: space-between;
}

.btn {
  border-radius: 30px;
  height: 60%;
  width: 90%;
  text-align: center;
  background-color: var(--sidebar-color);
  color: var(--sidebar-text-color);
  border: none;
  font-weight: bold;
  font-size: 1em;
}

.main {
  background-color: #e2e8f0;
}
